{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <a href="{% url 'create-product'%}">Create Room</a>
    <div>
        {% for product in products%}
            <div>
                <h5>{{product.id}}
                    {{product.name}}
                    {{product.description}}
                    
                    <img src="{{ product.photo.url }}" style="max-height:300px">
                    {{product.minimum_bid_price}}
                    {{product.auction_end_time}}
                </h5>
            </div>
        {% endfor %}
    </>
    
</div>

{% endblock content %}
